{% extends 'base.html' %}

{% block content %}
{% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Finch</h1>
  {% endif %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <div class="section">
      {% if object %}
      <input class="waves-effect waves-light btn-large" type="submit" value="Update">
      {% else %}
      <input class="waves-effect waves-light btn-large" type="submit" value="Add">
      {% endif %}
    </div>
  </form>
{% endblock %}