{% extends 'base.html' %}
{% block content %}

<h1>Finch List🕊️</h1>


<div class="right-align">
  <a href="/finches/create" class="waves-effect waves-light btn-large">Add a New Finch</a>
</div>


{% for finch in finches %}
{% comment %} <a href="/finches/{{finch.id}}"> //using name attri below  {% endcomment %}
  <a href= "{% url 'finches_show' finch.id %}">
  <div class="card hoverable">
    <div class="card-content">
      <div class="row center-align">
        <div class="grid-example col s12">
          <div class="card">
            <div class="card-image">
              {% if finch.finch_image %}

              <img src="{{ finch.finch_image.url}}">

              {% endif %}

            </div>
          </div>
        </div>
      </div>
      <span class="card-title">{{ finch.name }}</span>
      <p>Breed: {{ finch.breed }}</p>
      <p>Description: {{ finch.description }}</p>
      {% if finch.age > 0 %}
        <p>Age: {{ finch.age }}</p>
      {% else %}
        <p>Age: Newborn</p>
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endblock %}