{% extends 'base.html' %}
{% block content %}

<h1>Finch Collector</h1>

<div class="card hoverable">
  <div class="row center-align">
          <span class="card-title">Name:{{ finch.name }}</span>
          <p> Breed: {{ finch.breed }}</p>
          <p> Description: {{ finch.description }}</p>
          <p> Age: {{ finch.age }}</p>
        
        <div class="card-action">
          <a class="waves-effect waves-light btn-large" href="{% url 'finches_update' finch.id %}">Edit</a>
          <a class="waves-effect waves-light btn-large red" href="{% url 'finches_delete' finch.id %}">Delete</a>
        </div>
      </div>
      </div>
  </body>
</html>
{% endblock %}